<div class="account-form">
  <div class="form-reset-password">
    {% form 'reset_customer_password' %}
      <div class="form-row">
        <h1>{{ 'customer.reset_password.title' | t }}</h1>
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
      </div>
      <div class="form-row">
        {{ form.errors | default_errors }}
      </div>
      <div class="form-row">
        <div class="input-wrapper">
          <label for="ResetPassword">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input type="password"
            name="customer[password]"
            id="ResetPassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %}">
        </div>
      </div>
      <div class="form-row">
        <div class="input-wrapper">
          <label for="PasswordConfirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input type="password"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}">
        </div>
      </div>
      <div class="form-row">
        <input type="submit" class="btn btn--primary" value="{{ 'customer.reset_password.submit' | t }}">
      </div>
    {% endform %}
  </div>
</div>
