
        <!doctype html>
<html class="no-js supports-no-cookies" lang="{{ request.locale.iso_code }}">
<head>
  <!-- Expression 6.4.0 -->
  {% render 'head-tag' %}

  {%- capture seo_title -%}
    {{ page_title }}
    {% if current_tags %}
      {% assign meta_tags = current_tags | join: ', ' %}
      &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {%- endcapture -%}
  <title>{{ seo_title }}</title>

  {% render 'social-meta-tags' %}

  {{ 'styles.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = window.theme || {};
    window.slate = window.slate || {};

    {% if settings.currency_code_enabled %}
    theme.moneyFormatWithCodePreference = {{ shop.money_with_currency_format | json }};
    {% else %}
    theme.moneyFormatWithCodePreference = {{ shop.money_format | json }};
    {% endif %}

    theme.moneyFormat = {{ shop.money_format | json }};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }},
      addingToCart: {{ 'products.product.adding_to_cart' | t | json }},
      addedToCart: {{ 'products.product.added' | t | json }},
      goToCart: {{ 'products.product.go_to_cart' | t | json }},
      cart: {{ 'layout.cart.title' | t | json }},
      cartTermsNotChecked: {{ 'cart.terms.confirmation' | t | json }},
      quantityTooHigh: {{ 'cart.general.quantity_too_high' | t: quantity: '[[ quantity ]]' | json }},
      unitPriceSeparator: {{ 'products.product.unit_price_separator' | t | json }},
      searchResultsPages: {{ 'general.quick_search.pages' | t | json }},
      searchResultsViewAll: {{ 'general.quick_search.view_all' | t | json }},
      searchResultsNoResults: {{ 'general.quick_search.no_results' | t | json }},
      previous: {{'general.accessibility_labels.previous' | t | json }},
      next: {{'general.accessibility_labels.next' | t | json }},
      cart_shipping_calculator_hide_calculator: {{ 'cart.shipping_calculator.hide_calculator' | t | json }},
      cart_shipping_calculator_title: {{ 'cart.shipping_calculator.title' | t | json }},
      cart_general_hide_note: {{ 'cart.general.hide_note' | t | json }},
      cart_general_show_note: {{ 'cart.general.show_note' | t | json }},
      inventoryNotice: {{ 'products.labels.only_x_left' | t: quantity: '[[ quantity ]]' | json }},
      imageSlider: {{ 'general.slider.images' | t | json }}
    };
    theme.routes = {
      account_addresses_url: '{{ routes.account_addresses_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}'
    };
    theme.settings = {
      dynamicQtyOpts: {{ settings.hide_unavailable_quantity_opts | json }}
    };
  </script>

  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}{% if template contains 'story' %} story-page{% endif %}">
          {{ content_for_layout }}
        </body>
</html>

      