<header class="password-header large-row">
  <h1 class="store-logo" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="url" content="{{ shop.url }}">
    {%- if section.settings.logo != blank -%}
      <meta itemprop="name" content="{{ shop.name }}">
      {%- capture image_size -%}{{ section.settings.logo_width | times: 2 }}x{%- endcapture -%}
      <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
    {%- else -%}
      <span class="site-logo">{{ shop.name }}</span>
    {%- endif -%}
  </h1>
</header>

{% schema %}
  {
    "name": "Password header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_width",
        "label": "Logo width (in pixels)",
        "default": "250"
      }
    ]
  }
{% endschema %}
