<div class="row-double-space video-section js-video-section section-{{ section.id }}" data-section-id="{{ section.id }}"  data-section-type="video">
  {% style %}
    .section-{{ section.id }} .video-container__play.feather-icon svg {
      stroke: {{ section.settings.text_color }};
    }

    {% assign tint_opacity = section.settings.tint_opacity | divided_by: 100.00 | round: 2 %}
    {% assign tint_color = section.settings.tint_color | color_modify: 'alpha', tint_opacity  %}

    {%- if section.settings.overlay_style == 'box' -%}
      .section-{{ section.id }} .overlay__inner {
        background-color: {{ tint_color }};
      }
    {%- elsif section.settings.overlay_style == 'full' -%}
      .section-{{ section.id }} .video-container__cover::after {
        background-color: {{ tint_color }};
      }
    {%- endif -%}

    .section-{{ section.id }} .overlay__inner {
      color: {{ section.settings.text_color }};
    }

    .section-{{ section.id }} .overlay__heading {
      font-size: {{ section.settings.title_size }}px;
      {%- if section.settings.title_size >= 60 -%}
        line-height: 1em;
      {%- endif %}
    }

    @media (max-width: 1024px) {
      .section-{{ section.id }} .overlay__heading {
        {%- assign title_size_medium = section.settings.title_size | times: 0.8 -%}
        font-size: {{ title_size_medium }}px;
        {%- if title_size_medium >= 60 -%}
          line-height: 1em;
        {%- endif %}
      }
    }

    @media (max-width: 840px) {
      .section-{{ section.id }} .overlay__heading {
        {%- assign title_size_small = section.settings.title_size | times: 0.6 -%}
        font-size: {{ title_size_small }}px;
        {%- if title_size_small >= 60 -%}
          line-height: 1em;
        {%- endif %}
      }
    }
  {% endstyle %}

  {% if section.settings.video_url != blank %}
    <div class="video-container global-border-radius video-container--image video-container--modal-mobile overlay-style--{{ section.settings.overlay_style }}"
      data-video-id="{{ section.settings.video_url.id }}"
      data-video-url="{{ section.settings.video_url.url }}"
      data-video-type="{{ section.settings.video_url.type }}"
      data-video-autoplay="false"
      data-video-loop="false">
      <a class="video-container__stop" href="#" aria-label="{{ 'general.accessibility_labels.video_stop' | t | escape }}">{% render 'icon-close' %}</a>
      <div class="video-container__video"></div>
      <div class="video-container__cover">
        {%- if section.settings.cover_image == blank -%}
          <div class="placeholder-image video-container__cover">
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
          </div>
        {%- else -%}
          <div class="rimage-outer-wrapper lazyload fade-in"
              data-bgset="{% render 'bgset', image: section.settings.cover_image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="background-position: {{ section.settings.image_position }}">
            <noscript>
              <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%">
                <img src="{{ section.settings.cover_image | img_url: '1024x1024' }}" alt="{{ section.settings.cover_image.alt | escape }}" class="rimage__image">
              </div>
            </noscript>
          </div>
        {% endif %}
      </div>
      <div class="overlay overlay--position-{{ section.settings.overlay_position }}">
        <div class="overlay__inner global-border-radius">
          {% if section.settings.subheading != blank %}
            <div class="overlay__subheading small-title">{{ section.settings.subheading }}</div>
          {% endif %}
          {% if section.settings.title != blank %}
            <h2 class="overlay__heading large-title">{{ section.settings.title | newline_to_br }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="overlay__text">{{ section.settings.text }}</div>
          {% endif %}
          <a href="#" class="video-container__play feather-icon" aria-label="{{ 'general.accessibility_labels.video_play' | t | escape }}">{% render 'feather-play' %}</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row-double-space video-section align-center">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Video",
    "tag": "section",
    "settings": [
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Video link",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "cover_image",
        "type": "image_picker",
        "label": "Cover image",
        "info": "Required. Shows over the video before it's played."
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "full",
        "options": [
          {
            "value": "full",
            "label": "Full image"
          },
          {
            "value": "box",
            "label": "Text box"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      },
      {
        "type": "color",
        "id": "tint_color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "tint_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Overlay opacity",
        "default": 10,
        "unit": "%"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Use a video to get a customer's attention"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Watch our video"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 20,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading text size",
        "default": 34
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "select",
        "id": "overlay_position",
        "label": "Text alignment",
        "default": "center-center",
        "options": [
          {
            "label": "Top left",
            "value": "top-left"
          },
          {
            "label": "Top center",
            "value": "top-center"
          },
          {
            "label": "Top right",
            "value": "top-right"
          },
          {
            "label": "Center left",
            "value": "center-left"
          },
          {
            "label": "Center center",
            "value": "center-center"
          },
          {
            "label": "Center right",
            "value": "center-right"
          },
          {
            "label": "Bottom left",
            "value": "bottom-left"
          },
          {
            "label": "Bottom center",
            "value": "bottom-center"
          },
          {
            "label": "Bottom right",
            "value": "bottom-right"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Video",
        "settings": {
          "video_url": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
        }
      }
    ]
  }
{% endschema %}
