<div class="account-form">
  <h1>{{ 'customer.activate_account.title' | t }}</h1>
  <p>{{ 'customer.activate_account.subtext' | t }}</p>

  {% form 'activate_customer_password' %}
    <div class="form-row">
      {{ form.errors | default_errors }}
    </div>

    <div class="form-row">
      <div class="input-wrapper">
        <label for="CustomerPassword">
          {{ 'customer.activate_account.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="CustomerPassword">
      </div>
    </div>

    <div class="form-row">
      <div class="input-wrapper">
        <label for="CustomerPasswordConfirmation">
          {{ 'customer.activate_account.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="CustomerPasswordConfirmation">
      </div>
    </div>
    <div class="form-row flex-space-between">
      <input type="submit" class="btn btn--primary" value="{{ 'customer.activate_account.submit' | t }}">
      <input type="submit" class="btn btn--primary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
    </div>
  {% endform %}
</div>
