{%- assign bg_image = section.settings.background_image -%}

{% style %}
  .password-page-container {
    background-color: {{ section.settings.background_color }};
  }

  .password-page-container,
  .password-page-container h1,
  .password-page-container h2,
  .password-page-container h3,
  .password-page-container h4,
  .password-page-container p,
  .password-page-container input,
  .password-login-link a,
  .password-form-email {
    color: {{ section.settings.text_color }};
  }

  .section-password input {
    border-color: {{ section.settings.text_color }};
    background-color: transparent;
  }

  .section-password input::placeholder {
    color: {{ section.settings.text_color | color_modify: 'alpha', 0.7 }};
  }

  .section-password .input-row--submit {
    border-color: {{ section.settings.text_color }};
  }

  .section-password .input-group .btn {
    border-color: {{ section.settings.text_color }};
    background-color: {{ section.settings.text_color }};
  }

  {% assign brightness_number = section.settings.text_color | color_brightness %}
  {% if brightness_number < 135 %}
    .section-password #MainContent .btn {
      color: #fff;
    }
  {% else %}
    .section-password #MainContent .btn {
      color: #000;
    }
  {% endif %}

  {% if section.settings.show_social_icons == true %}
    .password-social-icons .social-links li,
    .password-social-icons .social-custom__main {
      background-color: {{ section.settings.text_color }};
    }
    #MainContent .password-social-icons .icon path {
      color: {{ section.settings.background_color }};
    }
  {% endif %}

  {% if section.settings.show_overlay_color == true %}
    .password-background-image::after {
      background-color: {{ section.settings.background_overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.00 }};
    }
  {% endif %}

  {% if section.settings.logo != blank %}
    .store-logo {
      width: {{ section.settings.logo_width }}px;
    }
  {% endif %}
{% endstyle %}

{%- if bg_image.src != blank -%}
  <div class="password-background-image">
    <div class="rimage-background fade-in lazyload"
         data-bgset="{% render 'bgset', image: bg_image %}"
         data-sizes="auto"
         data-parent-fit="cover"></div>
  </div>
{%- endif -%}

<main class="password-main" id="MainContent">
  <h2 class="large-title large-row password-page-content">{{ section.settings.heading }}</h2>

  {%- unless shop.password_message == blank -%}
    <p class="large-row">
      {{ shop.password_message }}
    </p>
  {%- endunless -%}

  {%- if section.settings.show_newsletter -%}
    {%- form 'customer' -%}
      {{ form.errors | default_errors }}
      {%- if form.posted_successfully? -%}
        <ul class="form-success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {%- else -%}
        <h3 class="password-form-title">{{ section.settings.newsletter_heading }}</h3>
        <div class="password-form-subtitle rte">{{ section.settings.newsletter_subheading }}</div>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <div class="password-form-container">
          <div class="input-group global-border-radius input-row--submit">
            <input type="email" name="contact[email]" id="email" spellcheck="false" autocomplete="off" autocapitalize="off" placeholder="{{ section.settings.newsletter_placeholder }}" class="input-group-field global-border-radius" aria-label="{{ 'general.password_page.signup_form_email_label' | t | escape }}" required>
            <button type="submit" name="commit" class="btn btn--primary">
              {{ section.settings.newsletter_button }}
            </button>
          </div>
        </div>
      {%- endif -%}
    {%- endform -%}
  {%- endif -%}

  {%- if section.settings.show_social_icons -%}
    <div class="password-social-icons">
      <h4 class="password-social-icons-title small-title">{{ section.settings.social_icons_title }}</h4>
      {% capture icon_size %}{% if settings.soc_icons_double %}x46{% else %}x30{% endif %}{% endcapture %}
      {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: icon_size %}
    </div>
  {%- endif -%}
</main>

{% schema %}
  {
    "name": "Password page",
    "class": "section-password",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "paragraph",
        "content": "Choose between a background color or background image."
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#333333"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
         "type": "checkbox",
         "id": "show_overlay_color",
         "label": "Show image tint",
         "default": false
      },
      {
        "type": "color",
        "id": "background_overlay_color",
        "label": "Image tint color",
        "default": "#333333"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "Color tint opacity",
        "default": 30
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
         "type": "checkbox",
         "id": "show_newsletter",
         "label": "Show newsletter signup",
         "default": true
      },
      {
         "type": "text",
         "id": "newsletter_heading",
         "label": "Heading",
         "default": "Find out when we open"
      },
      {
         "type": "richtext",
         "id": "newsletter_subheading",
         "label": "Subheading"
      },
      {
         "type": "text",
         "id": "newsletter_placeholder",
         "label": "Placeholer",
         "default": "Email"
      },
      {
         "type": "text",
         "id": "newsletter_button",
         "label": "Button",
         "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
         "type": "checkbox",
         "id": "show_social_icons",
         "label": "Show social icons",
         "default": false
      },
      {
        "type": "text",
        "id": "social_icons_title",
        "label": "Social icons title",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
